.container
  .row
    .column
      %h3 Midstream
      %ol
        %li Analyze and compare incentive packages for wealth managers.
        %li Clealy see how much today's sign-in bonus and higher payout will be worth at producer's retirement time.
        %li Quickly and easily create proposals that demonstrate to producers the benefits of switching firms.

      .nav_item
        = link_to 'New Proposal', class: 'btn btn-small'
      .nav_item
        = link_to 'Saved Proposals', class: 'btn btn-small'